ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    text-transform: capitalize;
    padding-left: 55%;
    margin-bottom: 3px;
}

ul li p {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 21px;
    font-weight: bold;
}

ul li p span {
    padding-left: 30px;
}